<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher Dashboard</title>
</head>
<body>

 
    <header>
        <div>
            🎓 <strong>Teacher Dashboard</strong>
        </div>
        <p>Manage courses and create quizzes for students</p>
    </header>


    <main>
     
        <div>
            <h2>Courses</h2>
            <button>+ Add Course</button>
        </div>

      
        <div>

          
            <div>
                <div>
                    <span>📘</span>
                    <div>
                        <h4>hhh</h4>
                        <p>kk</p>
                    </div>
                </div>

               
                <div>
                    <button title="Manage Quizzes"><a href="quiz.html">📘</a></button>
                    <button title="Edit Course">✏️</button>
                    <button title="Delete Course">🗑️</button>
                </div>
            </div>

        </div>
    </main>

   
    

</body>
</html>