<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Courses</title>
    <link rel="stylesheet" href="cssstudent/courses.css">

</head>
<body>
    <h1>Course Catalog</h1>
    <h2>semaster1</h2>
    <div class="courses-container" id="courses">

        <div class="course-card">
           
            <h2> Web Development</h2>
            <p>Learn the basics of HTML, CSS, and JavaScript.</p>
            <div class="info">
                ⏱️ 8 weeks <br>
                👨‍🎓 245 students
            </div>
            <button class="btn"><a href="IWD.html">see courses</a></button>
        </div>

        <div class="course-card">
           
            <h2>Advanced React</h2>
            <p>Master React, hooks, and state management.</p>
            <div class="info">
                ⏱️ 10 weeks <br>
                👨‍🎓 189 students
            </div>
            <button class="btn"><a href="AR.html">see courses</a></button>
        </div>

        <div class="course-card">
            
            <h2>Spring Boot</h2>
            <p>Create backend applications and REST APIs.</p>
            <div class="info">
                ⏱️ 7 weeks <br>
                👨‍🎓 170 students
            </div>
            <button class="btn"><a href="SB.html">see courses</a></button>
        </div>

        <div class="course-card">
            
            <h2>SQL Databases</h2>
            <p>Learn MySQL, queries, and relationships.</p>
            <div class="info">
                ⏱️ 6 weeks <br>
                👨‍🎓 280 students
            </div>
            <button class="btn"><a href="sql.html">see courses</a></button>
        </div>

        <div class="course-card">
           
            <h2>Git & GitHub</h2>
            <p>Version control and collaborative work.</p>
            <div class="info">
                ⏱️ 4 weeks <br>
                👨‍🎓 400 students
            </div>
            <button class="btn"><a href="git.html">see courses</a></button>
        </div>
        <h1>semaster 2</h1>
        <div class="course-card">
           
            <h2> Architactor of Network</h2>
            <p>Learn the basics of deffrent network</p>
            <div class="info">
                ⏱️ 8 weeks <br>
                👨‍🎓 245 students
            </div>
            <button class="btn"><a href="ArchiNetwork.html">see courses</a></button>
        </div>
        <div class="course-card">
           
            <h2>Introdaction of Artificalle inttligent</h2>
            <p>the basis of AI.</p>
            <div class="info">
                ⏱️ 8 weeks <br>
                👨‍🎓 245 students
            </div>
            <button class="btn"><a href="introAI.html">see courses</a></button>
        </div>
        <div class="course-card">
           
            <h2>Managerment of Project </h2>
            <p>Learn hwo to manager your project  .</p>
            <div class="info">
                ⏱️ 8 weeks <br>
                👨‍🎓 245 students
            </div>
            <button class="btn"><a href="managerproj.html">see courses</a></button>
        </div>

    </div>
    <script src="jsstudent/cours.js"></script>
</body>
</html>