<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Courses</title>
    <link rel="stylesheet" href="cssstudent/courses.css">

</head>
<body>
    <h1>Course Catalog</h1>
    <h2>semaster1</h2>
    <div class="courses-container" id="courses">

        <div class="course-card">
           
            <h2>Introduction to Web Development</h2>
            <p>Learn the basics of HTML, CSS, and JavaScript.</p>
            <div class="info">
                ⏱️ 8 weeks <br>
                👨‍🎓 245 students
            </div>
            <button class="btn"><a href="web.html">see courses</a></button>
        </div>

        <div class="course-card">
           
            <h2>Algorithmique and data stracture</h2>
         
            <div class="info">
                ⏱️ 10 weeks <br>
                👨‍🎓 189 students
            </div>
            <button class="btn"><a href="ADS.html">see courses</a></button>
        </div>

        <div class="course-card">
            
            <h2>Logique mathématiques</h2>
          
            <div class="info">
                ⏱️ 7 weeks <br>
                👨‍🎓 170 students
            </div>
            <button class="btn"><a href="LM.html">see courses</a></button>
        </div>

        <div class="course-card">
            
            <h2>caputer architecture</h2>
         
            <div class="info">
                ⏱️ 6 weeks <br>
                👨‍🎓 280 students
            </div>
            <button class="btn"><a href="caputerarchit.html">see courses</a></button>
        </div>

        <div class="course-card">
           
            <h2>langages theorique </h2>
            
            <div class="info">
                ⏱️ 4 weeks <br>
                👨‍🎓 400 students
            </div>
            <button class="btn"><a href="TL.html">see courses</a></button>
        </div>
        <h1>semaster 2</h1>
        <div class="course-card">
           
            <h2> Data bases </h2>
      
            <div class="info">
                ⏱️ 8 weeks <br>
                👨‍🎓 245 students
            </div>
            <button class="btn"><a href="BD.html">see courses</a></button>
        </div>
        <div class="course-card">
           
            <h2>softwer ingeneres </h2>
          
            <div class="info">
                ⏱️ 8 weeks <br>
                👨‍🎓 245 students
            </div>
            <button class="btn"><a href="Sing.html">see courses</a></button>
        </div>
        <div class="course-card">
           
            <h2>communication and Network  </h2>
         
            <div class="info">
                ⏱️ 8 weeks <br>
                👨‍🎓 245 students
            </div>
            <button class="btn"><a href="CN.html">see courses</a></button>
        </div>
        <div class="course-card">
           
            <h2> softwere economique  </h2>
         
            <div class="info">
                ⏱️ 8 weeks <br>
                👨‍🎓 245 students
            </div>
            <button class="btn"><a href="Se.html">see courses</a></button>
        </div>
        <div class="course-card">
           
            <h2> opérating Systeme  </h2>
         
            <div class="info">
                ⏱️ 8 weeks <br>
                👨‍🎓 245 students
            </div>
            <button class="btn"><a href="OS.html">see courses</a></button>
        </div>

    </div>
    <script src="jsstudent/cours.js"></script>
</body>
</html>