<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Courses</title>
    <link rel="stylesheet" href="cssstudent/courses.css">

</head>
<body>
    <h1>Course Catalog</h1>
    <h2>semaster1</h2>
    <div class="courses-container" id="courses">

        <div class="course-card">
           
            <h2>Algebra </h2>
            <p>Learn the basics of Mathematiques.</p>
            <div class="info">
                ⏱️ 8 weeks <br>
                👨‍🎓 245 students
            </div>
            <button class="btn"><a href="ALG.html">see courses</a></button>
        </div>

        <div class="course-card">
           
            <h2>Analyses</h2>
          
            <div class="info">
                ⏱️ 10 weeks <br>
                👨‍🎓 189 students
            </div>
            <button class="btn"><a href="Ana.html">see courses</a></button>
        </div>

        <div class="course-card">
            
            <h2>Algorithmique ans Data strucature</h2>
           
            <div class="info">
                ⏱️ 7 weeks <br>
                👨‍🎓 170 students
            </div>
            <button class="btn"><a href="ASD1.html">see courses</a></button>
        </div>

        <div class="course-card">
            
            <h2>Machines  Structure </h2>
           
            <div class="info">
                ⏱️ 6 weeks <br>
                👨‍🎓 280 students
            </div>
            <button class="btn"><a href="SM.html">see courses</a></button>
        </div>

        <div class="course-card">
           
            <h2>trecité</h2>
     
            <div class="info">
                ⏱️ 4 weeks <br>
                👨‍🎓 400 students
            </div>
            <button class="btn"><a href="trécité.html">see courses</a></button>
        </div>
        <h1>semaster 2</h1>
        <div class="course-card">
           
            <h2>open soures </h2>
         
            <div class="info">
                ⏱️ 8 weeks <br>
                👨‍🎓 245 students
            </div>
            <button class="btn"><a href="opens.html">see courses</a></button>
        </div>
        <div class="course-card">
           
            <h2>Introdaction of Artificalle inttligent</h2>
            <p>the basis of AI.</p>
            <div class="info">
                ⏱️ 8 weeks <br>
                👨‍🎓 245 students
            </div>
            <button class="btn"><a href="IAI.html">see courses</a></button>
        </div>
        <div class="course-card">
           
            <h2> Algorithmique ans Data strucature 2</h2>
            <p>Learn hwo to manager your project  .</p>
            <div class="info">
                ⏱️ 8 weeks <br>
                👨‍🎓 245 students
            </div>
            <button class="btn"><a href="ASD2.html">see courses</a></button>
        </div>
         <div class="course-card">
           
            <h2> Analyses  2</h2>
    
            <div class="info">
                ⏱️ 8 weeks <br>
                👨‍🎓 245 students
            </div>
            <button class="btn"><a href="managerproj.html">see courses</a></button>
        </div>

    </div>
    <script src="jsstudent/cours.js"></script>
</body>
</html>